@page
@model WebApp.Pages.Provenienze.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h2>Provenienza</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provenienza.NomeZona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provenienza.NomeZona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provenienza.Vino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provenienza.Vino.NomeVino)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Provenienza.ProvenienzaId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
