@page
@model WebApp.Pages.Provenienze.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Provenienza[0].NomeZona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provenienza[0].Vino)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Provenienza) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeZona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vino.NomeVino)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProvenienzaId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProvenienzaId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProvenienzaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
