@page  
@model WebApp.Pages.Opere.DetailsModel
@{

    ViewData["Title"] = "ProductDetails";
}
<link rel="stylesheet" href="~/css/ProductDetailsStyle.css" type="text/css" />

<div class="container">
    <div class="row">
        <div class="col-xs-3" id="product">
            <img src="./img/@Html.DisplayFor(model => model.Opera.FotoOpera)" alt="NOT FOUND" class="image">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3" id="list">
            <ul id="select">
                <a asp-page="./Trama" asp-route-id="@Request.Query["id"].ToString()"><li><b>Trama</b></li></a>
                <a asp-page="./Autore" asp-route-id="@Request.Query["id"].ToString()"><li><b>L'autore</b></li></a>
                <a href="./Trama?id=@Request.Query["id"].ToString()#Contesto"><li><b>Contesto</b></li></a>
                <a asp-page="./ListaPersonaggi" asp-route-id="@Request.Query["id"].ToString()"><li><b>Personaggi</b></li></a>
                <a asp-page="./Reviews" asp-route-id="@Request.Query["id"].ToString()"><li><b>Recensioni</b></li></a>
                <a asp-page="./AggiuntaRecensione" asp-route-id="@Request.Query["id"].ToString()"><li><b>Lascia un commento</b></li></a>
                <a asp-area="" asp-controller="Home" asp-action="Index"><li><b>Acquista</b></li></a>
            </ul>
        </div>
    </div>
</div>