@page
@model WebApp.Pages.Opere.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Opera[0].Titolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opera[0].Trama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opera[0].Contesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opera[0].Prezzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opera[0].VideoOpera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opera[0].FotoOpera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opera[0].Autore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Opera) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoOpera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoOpera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autore.AutoreId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OperaId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OperaId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OperaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
