@page
@model WebApp.Pages.Bianco_e_Nero.GiocareConIlVino.RiConosciIViniPlayModel
@{
    ViewData["Title"] = "RiConosci i Vini? - Play";
}

<link rel="stylesheet" href="~/css/BiancoENeroCss/RiconosciIViniPlayStyle.css" type="text/css" />


<h4 class="title">Seleziona un vino e poi le zone in cui viene prodotto</h4>
<div class="container-fluid" id="container">
    <div class="row" id="row">
        <div class="col-sm-8" id="colSx">
            <img src="~/BiancoENeroImg/IViniDelTerritorio/Puglia.png" id="cartina" />
            <div class="containerLocator">
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/TuttoIlTerritorio.png" class="locator" data-nome-zona="Tutto_il_territorio" id="Tutto_il_territorio" value="Tuttoilterritorio" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/TuttoIlTerritorio_True.png" class="locatorTrueAndFalse" id="Tutto_il_territorio_True" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/TuttoIlTerritorio_False.png" class="locatorTrueAndFalse" id="Tutto_il_territorio_False" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Barletta.png" class="locator" data-nome-zona="Barletta" id="Barletta" value="Barletta" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Barletta_True.png"  class="locatorTrueAndFalse" id="Barletta_True" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Barletta_False.png" class="locatorTrueAndFalse" id="Barletta_False" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Castel del Monte.png" class="locator" data-nome-zona="Castel_del_Monte" id="Castel_del_Monte" value="Castel_del_Monte" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Castel del Monte_True.png"  class="locatorTrueAndFalse" id="Castel_del_Monte_True" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Castel del Monte_False.png" class="locatorTrueAndFalse" id="Castel_del_Monte_False" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Bari.png" class="locator" data-nome-zona="Bari" id="Bari" value="Bari" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Bari_True.png"  class="locatorTrueAndFalse" id="Bari_True" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Bari_False.png" class="locatorTrueAndFalse" id="Bari_False" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Taranto.png" class="locator" data-nome-zona="Taranto" id="Taranto" value="Taranto" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Taranto_True.png"  class="locatorTrueAndFalse" id="Taranto_True" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Taranto_False.png" class="locatorTrueAndFalse" id="Taranto_False" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Salento.png" class="locator" data-nome-zona="Salento" id="Salento" value="Salento" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Salento_True.png"  class="locatorTrueAndFalse" id="Salento_True" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Salento_False.png" class="locatorTrueAndFalse" id="Salento_False" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Brindisi.png" class="locator" data-nome-zona="Brindisi" id="Brindisi" value="Brindisi" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Brindisi_True.png"  class="locatorTrueAndFalse" id="Brindisi_True" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Brindisi_False.png" class="locatorTrueAndFalse" id="Brindisi_False" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Lecce.png" class="locator" data-nome-zona="Lecce" id="Lecce" value="Lecce" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Lecce_True.png"  class="locatorTrueAndFalse" id="Lecce_True" />
                <img src="~/BiancoENeroImg/GiocareConIlVino/Locator/Lecce_False.png" class="locatorTrueAndFalse" id="Lecce_False" />
            </div>
            @Html.AntiForgeryToken()
            @if (Request.Query["id"].ToString().Equals("rosso"))
            {
                <img src="~/BiancoENeroImg/IViniDelTerritorio/BimboRosso.png" id="imageBimbo" />
            }
            else
            {
                <img src="~/BiancoENeroImg/IViniDelTerritorio/BimboBiondo.png" id="imageBimbo" />
            }
        </div>
        <div class="col-sm-4" id="colDx">
            <div class="row" id="rowList">
                <input type="hidden" id="VinoSelected" value="" />
                <ul>
                    @foreach (var item in ViewBag.Vini)
                    {
                        <li class="col-lg-12 col-sm">
                            <input type="hidden" class="tipoVino" value="@item.TipoVino" />
                            <button type="button" class="btnPost" id="@item.NomeVino" value="@item.NomeVino">@item.NomeVino</button>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.0.min.js" type="text/javascript"></script>
<script src="~/js/BiancoENeroJs/GiocareConIlVino/RiConosciIVini.js"></script>